{% extends 'base.html.twig' %}

{# Titre de la fenêtre #}
{% block title %} leboncoin | Accueil {% endblock %}

{# Corps de la page #}
{% block body %}
    <div class="accueil">
        {% for message in app.flashes("successAdd") %}
            <div class="message_success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes("successDelete") %}
            <div class="message_success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card_annonce">
            {% for annonces in annonce %}
            <a href="{{ path('route_details_annonce', {id: annonces.id}) }}">
                <div class="annonces_box">
                    <div class="img_annonce">
                        <img src="{{ asset('assets/images/image-notfound.webp') }}"></img>
                    </div>
                    <div class="details_annonce">
                        <div class="titre_annonce">
                            {{ annonces.title }}
                        </div>

                        <div class="prix_annonce">
                            {{ annonces.price }} €
                        </div>

                        <div class="desc_annonce">
                            {{ annonces.description }}
                        </div>

                        <div class="cat_annonce">
                            Catégorie : {{ annonces.categorie.title }}
                        </div>
                    </div>
                    <div class="date_annonce">
                            {{ annonces.updatedat.format('d/m/Y') }} à {{ annonces.updatedat.format('g:i:s') }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
