<!DOCTYPE html>
<html>
    <head>
        {# Méta-données #}
        <meta charset="UTF-8">
        {# Titre de la fenêtre #}
        <title>{% block title %}leboncoin{% endblock %}</title>
        {# Icône de la fenêtre #}
        <link rel="icon" href="{{ asset('assets/images/leboncoin_logo.svg') }}">
        {# Fichiers CSS #}
        {% block stylesheets %}
            {# Index #}
            <link href="{{ asset('assets/css/base/base.css') }}" rel="stylesheet">
        {% endblock %}

        {# Fichiers JS #}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {# Barre de navigation #}
        {% block header %}
            <div class="nav-bar">
                <a href="{{ path('route_accueil') }}">
                    <div class="logo">leboncoin</div>
                </a>
                <ul class="nav-list">
                    {% if app.user == null %}
                        <a href="{{ path('route_connexion') }}">
                            <li>Déposer une annonce</li>
                        </a>
                    {% endif %}
                    {% if app.user != null %}
                        <a href="{{ path('route_add_annonce', {id: app.user.id}) }}">
                            <li>Déposer une annonce</li>
                        </a>
                    {% endif %}

                    {% if app.user == null %}
                        <a href="{{ path('route_connexion') }}">
                            <li>Se connecter</li>
                        </a>
                    {% endif %}
                    {% if app.user == null %}
                        <a href="{{ path('route_inscription') }}">
                            <li>S'inscrire</li>
                        </a>
                    {% endif %}
                    {% if app.user != null %}
                        <a>
                            <li>Bonjour, {{ app.user.username }}</li>
                        </a>
                    {% endif %}
                    {% if app.user != null %}
                        <a href="{{ path('route_deconnexion') }}">
                            <li>Se déconnecter</li>
                        </a>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
        {# Corps des pages #}
        {% block body %}{% endblock %}
        {# Bas de page #}
        {% block footer %}
            <div class="footer">
                <p>Tous droits réservés.</p>
            </div>
        {% endblock %}
    </body>
</html>
